@media (max-width: 575.98px) {
    .proflie .user {
        text-align: center;

    }
    .proflie .user .name-user,
    .proflie .user .email-user{
        display: block;
    }
    .orders .info-product{
        margin-top: 2%;
        padding: 4%;

    }

 }

 @media (min-width: 576px) and (max-width: 767.98px) {
   .proflie .user {
        text-align: center;

   }
   .proflie .user .name-user,
   .proflie .user .email-user{
           display: block;
   }
   .orders .info-product{
       margin-top: 2%;

   }



  }
